.achieve {
    background-color: #151515;
    padding: 33px 0px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;

        &:nth-child(2) {
            flex-direction: row-reverse;
        }
    }

    &__title {
        max-width: 378px;
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 8px;
        font-family: "Unbounded";
    }

    &__image {
        img {
            width: 100%;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 58px;
    }
    
    &__subtext {
        max-width: 484px;
        font-weight: 500;
        font-size: 18px;
        color: #fff;
    }
}

@media (max-width: 1070px) {
    .achieve {
        &__title {
            margin: 0 auto 30px auto;
        }

        &__text {
            margin-bottom: 20px;
        }

        &__item {
            flex-direction: column;
            text-align: center;

            &:nth-child(2) {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 528px) {
    .achieve {
        &__title {
            font-size: 20px;
            margin-bottom: 25px;
        }

        &__subtext {
            font-size: 16px;
        }

        &__item {
            gap: 30px;
        }
    }
}