.cases {
    padding: 100px 0px;
    background-color: #151515;

    &__title {
        font-weight: 600;
        font-size: 68px;
        line-height: 90%;
        letter-spacing: -0.03em;
        text-align: center;
        color: #fff;
        font-family: "Unbounded";
        margin: 0 auto 48px auto;
        text-align: center;
        max-width: 567px;
    }

    &__item {
        text-align: center;
        border-radius: 15px;
        padding: 30px 30px 30px 30px;
        background-color: #fff;
        height: 100%;
        min-height: 400px;
    }

    &__image {
        margin-bottom: 20px;

        img {
            width: 100%;
            max-width: 310px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__name {
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        color: #151515;
    }

    &__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #151515;
    }

    &__slider-buttons {
        display: flex;
        justify-content: center;
        margin-top: 55px;
        align-items: center;
        gap: 30px;
    }
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    position: relative;
    width: auto;
    height: auto;
}

.swiper-button-next {
    position: relative;
    width: auto;
    height: auto;
}


@media (max-width: 768px) {
    .cases {
        padding: 60px 0px;
        
        &__title {
            font-size: 40px;
        }
    }
}