.faq {
    padding: 150px 0px;

    &__title {
        font-weight: 600;
        font-size: 68px;
        line-height: 90%;
        letter-spacing: -0.02em;
        color: #151515;
        font-family: "Unbounded";
        margin-bottom: 100px;
    }

    &__text {
        font-weight: 600;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #151515;
    }

    &__content {
        margin-bottom: 90px;
    }

    &__item {
        cursor: pointer;
        border-top: 1px solid rgba(21, 21, 21, 0.2);
        padding: 60px 0px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__number {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        color: #151515;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 78px;
    }

    &__arrow {
        cursor: pointer;
    }

    &__name {
        display: flex;
        align-items: center;
        gap: 94px;
    }

    &__button {
        cursor: pointer;
        color: #fff;
        border-radius: 100px;
        padding: 35px 40px;
        background-color: #151515;
        transition: all 0.2s linear;

        &:hover {
            background-color: #272727;
        }
    }

    &__main {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: rgba(21, 21, 21, 0.6);
        margin-left: 120px;
        max-width: 413px;
        margin-top: 30px;
        display: none;
    }

    &__link {
        font-weight: 500;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        font-family: "Unbounded";
    }

    &__close {
        display: none;
    }
}

.faq__item.active .faq__main {
    display: block;
}

.faq__item.active .faq__icon {
    display: none;
}

.faq__item.active .faq__close {
    display: block;
}

@media (max-width: 768px) {
    .faq {
        &__title {
            font-size: 55px;
            margin-bottom: 45px;
        }

        &__name {
            gap: 30px;
        }

        &__text {
            font-size: 25px;
        }

        &__icon {
            width: 40px;
            height: 40px;

            img {
                width: 100%;
            }
        }

        &__arrow {
            width: 40px;
            height: 40px;

            img {
                width: 100%;
            }
        }

        &__buttons {
            gap: 30px;
        }

        &__main {
            margin-left: 60px;
        }

        &__button {
            padding: 20px 35px;
        }

        &__link {
            font-size: 16px;
        }

        &__close {
            width: 40px;
            height: 40px;

            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 528px) {
    .faq {
        padding: 100px 0px;

        &__title {
            font-size: 40px;
            margin-bottom: 45px;
        }

        &__name {
            gap: 20px;
        }

        &__number {
            font-size: 15px;
        }

        &__text {
            font-size: 20px;
        }

        &__buttons {
            gap: 20px;
        }

        &__main {
            margin-left: 40px;
            font-size: 16px;
        }

        &__button {
            padding: 15px 20px;
        }

        &__link {
            font-size: 14px;
        }
    }
}