.footer {
    padding-bottom: 65px;
    background-color: #151515;

    &__container {
        padding: 44px 0px 0px 44px;
        border-left: 0.74px solid #868686;
        border-top: 0.74px solid #868686;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #fff;
        font-family: "Unbounded";
        max-width: 367px;
        margin-bottom: 20px;
    }

    &__year {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #fff;
        font-family: "Unbounded";
    }

    &__big-text {
        font-weight: 500;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #fff;
        margin-bottom: 10px;
    }

    &__number {
        font-weight: 500;
        font-size: 29px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: #fff;
    }
}

@media (max-width: 768px) {
    .footer {
        &__container {
            flex-direction: column-reverse;
            text-align: center;
            gap: 30px;
            padding: 22px;
        }
        
        &__big-text {
            font-size: 30px;
        }

        &__number {
            font-size: 20px;
        }
    }
}