.home {
    padding: 33px 0px;

    &__video {
        width: 100%;
        border-radius: 8px;
    }

    &__text {
        font-family: "Unbounded";
        max-width: 424px;
        padding: 20px;
        font-weight: 600;
        font-size: 25px;
        line-height: 110%;
        text-transform: uppercase;
        color: #151515;
        background-color: #fff;
    }

    &__content {
        position: relative;
    }

    &__block {
        cursor: pointer;
        font-family: "Unbounded";
        position: absolute;
        bottom: 25px;
        right: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        border-radius: 100px;
        padding: 10px 48px;
        gap: 24px;
    }

    &__subtext {
        position: relative;
        font-weight: 500;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #151515;
    }
}

.text-1 {
    position: absolute;
    top: 0;
    right: 0;
    outline: 10px solid #fff;
    border-bottom-left-radius: 10px;
}

.text-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    outline: 10px solid #fff;
    border-top-right-radius: 10px;
}

@media (max-width: 980px) {
    .home {
        &__text {
            font-size: 14px;
        }

        &__block {
            padding: 10px 20px;
        }

        &__subtext {
            font-size: 14px;
        }
    }
}

.text-mobile {
    display: none;
}

@media (max-width: 800px) {
    .home {
        &__text {
            max-width: 160px;
            font-size: 12px;
        }

        &__subtext {
            font-size: 12px;
        }

        &__icon {
            width: 20px;
            height: 20px;

            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 528px) {
    .home {
        &__text {
            background-color: transparent;
            position: relative;
            outline: none;
            max-width: 300px;
            max-width: none;
        }

        &__block {
            left: 50%;
            transform: translateX(-50%);
            bottom: 90px;
            width: 100%;
            text-align: center;
            justify-content: center;
            max-width: 300px;
        }
    }

    .text-mobile {
        display: block;
        text-align: right;
        float: right;
        max-width: 300px;
    }
    
    .text-2 {
        max-width: 300px;
    }
    
    .text-1 {
        display: none;
    }
}