.training {
    padding: 150px 0px;

    &__title {
        font-weight: 600;
        font-size: 68px;
        line-height: 90%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #151515;
        font-family: "Unbounded";
        text-align: center;
        margin-bottom: 63px;
    }

    &__content {
        display: flex;
        align-items: center;
        margin-bottom: 87px;
    }

    &__item {
        border: 0.75px solid rgba(21, 21, 21, 0.1);
        border-radius: 15px;
        padding: 37px 30px 30px 30px;
        background-color: #f3f3f3;
        width: 100%;
    }

    &__block {
        position: relative;
        text-align: center;
        border-radius: 100px;
        padding: 31px 48px;
        background-color: #151515;
        max-width: 659px;
        margin: 0 auto;

        &::after {
            content: '';
            position: absolute;
            background: url("../../images/decor/gift-1.png") 0 0 no-repeat;
            width: 100px;
            height: 100px;
            top: -53px;
            left: -36px;
            z-index: -1;
        }

        &::before {
            content: '';
            position: absolute;
            background: url("../../images/decor/gift-2.png") 0 0 no-repeat;
            width: 108px;
            height: 108px;
            top: -63px;
            right: -36px;
            z-index: -1;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        font-family: "Unbounded";
    }
}

.item-trainig {
    &__title {
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        color: #151515;
        font-family: "Unbounded";
        margin-bottom: 45px;
    }

    &__list {
        margin-bottom: 45px;

        li:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    &__element {
        padding-bottom: 22px;
        display: flex;
        align-items: center;
        gap: 15px;
        border-bottom: 1px solid rgba(21, 21, 21, 0.2);
    }

    &__number {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: #151515;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: #151515;
    }

    &__button {
        border-radius: 75px;
        padding: 22px 30px;
        background-color: #151515;
        cursor: pointer;
        text-align: center;
    }

    &__link {
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        text-transform: uppercase;
        color: #fff;
    }
}

.item-black {
    background-color: #151515;
    padding: 77px 45px;
}

.item-black .item-trainig__button {
    background-color: #fff;
}

.item-black .item-trainig__title {
    color: #fff;
}

.item-black .item-trainig__number {
    color: #fff;
}

.item-black .item-trainig__text {
    color: #fff;
}

.item-black .item-trainig__link {
    color: #151515;
}

.item-black .item-trainig__element {
    border-color: rgba(255, 255, 255, 0.2);
    ;
}

.red {
    color: #b20000;
}

@media (max-width: 1250px) {
    .training {
        &__content {
            flex-direction: column;
            gap: 40px;
        }

        &__title {
            font-size: 50px;
        }

        &__item {
            max-width: 500px;
        }

        &__text {
            font-size: 15px;
        }

        &__block {
            padding: 20px 30px;
            max-width: 500px;
        }
    }
}

@media (max-width: 528px) {
    .training {
        padding: 60px 0px;

        &__title {
            font-size: 30px;
            margin-bottom: 30px;
        }

        &__text {
            font-size: 12px;
        }
    }

    .item-trainig {
        &__title {
            font-size: 22px;
        }

        &__text {
            font-size: 16px;
        }

        &__button {
            padding: 15px 25px;
        }
    }
}