.why {
    padding: 80px 0px;

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    &__text {
        font-weight: 700;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        text-align: center;
        color: #151515;
        border: 1.50px solid #151515;
        border-radius: 75px;
        padding: 15px 37px;
    }

    &__title {
        font-weight: 600;
        font-size: 56px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: #151515;
        font-family: "Unbounded";
        max-width: 686px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        row-gap: 67px;
        column-gap: 120px;
    }

    &__item {
        flex: 1 0 23%;
        width: 376px;
    }
}

.item-why {
    border-top: 0.75px solid rgba(21, 21, 21, 0.4);
    padding: 30px 0px 0px 0px;

    &__uptext {
        font-weight: 500;
        font-size: 10px;
        color: rgba(21, 21, 21, 0.4);
        margin-bottom: 40px;
    }

    &__title {
        font-weight: 600;
        font-size: 34px;
        line-height: 110%;
        color: #151515;
        margin-bottom: 30px;
    }

    &__subtext {
        font-weight: 500;
        font-size: 18px;
        color: rgba(21, 21, 21, 0.6);
    }
}

@media (max-width: 1250px) {
    .why {
        &__item {
            flex: 1 0 40%;
        }

        &__content {
            column-gap: 40px;
        }

        &__info {
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 30px;
        }
    }

    .item-empty {
        display: none;
    }
}

@media (max-width: 768px) {
    .why {
        &__info {
            margin-bottom: 30px;
        }

        &__title {
            font-size: 40px;
        }

        &__text {
            font-size: 12px;
            padding: 15px 20px;
        }

        &__item {
            flex: 1 1 100%;
            width: 100%;
        }

        &__content {
            flex-direction: column;
            column-gap: 40px;
        }
    }
}

@media (max-width: 528px) {
    .why {
        padding: 40px 0px;
        
        &__title {
            font-size: 25px;
        }

        &__text {
            padding: 10px;
            font-size: 11px;
        }
    }

    .item-why {
        &__title {
            font-size: 27px;
            margin-bottom: 25px;
        }
    }
}